# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

newick\.nwk

*.nwk

proportion\.dat

3_types_recombinaison\.R

3_types_recombinaison\.sh

proportion\.txt

result\.log

resultats\.txt

\.idea/Creator Phylogenetic tree\.iml

\.idea/encodings\.xml

*.xml
